body {
    margin: 0px;
    padding: 0px;
    background-color: #19191a;
}

.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.barraSuperior {
    width: 100%;
    height: 40px;
    background-color: #B8000C;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 20px 0px;
}

.boasVindas {
    width: 50%;
    background-color: rgb(238, 181, 181);
    border-radius: 15px;
    margin: 30px 0px 30px 0px;
    text-align: center;
    border: #ff7003 3px solid;
}

.boasVindas > h1 {
    font-size: 26px;
}

.div-mae {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 90%;
}

.filho1 {
    width: 46%;
    height: auto;
    background-color: #63636d;
    border-radius: 10px;
    border: 3px solid #B8000C;
    padding: 4px;
    margin-right: 15px;
}

/*divs que corresponde as bolas a serem escolhidas*/
.bolasParaEscolher {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.linha-um {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
}

.linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
    margin: 15px 8px 5px 8px;
    border-radius: 70px;
    border: #4b207f 3px solid;
    padding: 4px;
    width: 40px;
    font-weight: bolder;
    font-size: 16px;
    background-color: #c7c5c5;
    color: black;
    box-shadow: 2px 2px 2px #4b207f;
}

.linha-um > .be1:hover, .linha-um > .be2:hover, .linha-um > .be3:hover, .linha-um > .be4:hover, .linha-um > .be5:hover, .linha-um > .be6:hover, .linha-um > .be7:hover, .linha-um > .be8:hover, .linha-um > .be9:hover, .linha-um > .be10:hover, .linha-um > .be11:hover, .linha-um > .be12:hover, .linha-um > .be13:hover, .linha-um > .be14:hover, .linha-um > .be15:hover, .linha-um > .be16:hover, .linha-um > .be17:hover, .linha-um > .be18:hover, .linha-um > .be19:hover, .linha-um > .be20:hover, .linha-um > .be21:hover, .linha-um > .be22:hover, .linha-um > .be23:hover, .linha-um > .be24:hover, .linha-um > .be25:hover, .linha-um > .be26:hover, .linha-um > .be27:hover, .linha-um > .be28:hover, .linha-um > .be29:hover, .linha-um > .be30:hover, .linha-um > .be31:hover, .linha-um > .be32:hover, .linha-um > .be33:hover, .linha-um > .be34:hover, .linha-um > .be35:hover, .linha-um > .be36:hover, .linha-um > .be37:hover, .linha-um > .be38:hover, .linha-um > .be39:hover, .linha-um > .be40:hover, .linha-um > .be41:hover, .linha-um > .be42:hover, .linha-um > .be43:hover, .linha-um > .be44:hover, .linha-um > .be45:hover, .linha-um > .be46:hover, .linha-um > .be47:hover, .linha-um > .be48:hover, .linha-um > .be49:hover, .linha-um > .be50:hover {
    background-color: rgb(230, 224, 40);
}

/*conjunto de divs responsavel por inserir e retornar dados*/
.divisoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.infoValor {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* div responsavel sobre valor de aposta*/
.valorDeAposta {
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.valorAposta {
    padding: 15px;
    border-radius: 10px;
    border: solid 3px rgb(32, 154, 10);
    width: 240px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

.retornoFinal1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    width: 180px;
    background-color: #29292a;
    border-radius: 7px;
    border: 3px rgb(21, 138, 1) dashed;
    background-color: rgb(252, 254, 255);
    margin-bottom: 10px;
    margin-left: 30px;
}

.retornoFinal1  > p {
    font-weight: bold;
}

/**** botao para enviar os dados ****/
.botao {
    background-color: darkgreen;
    width: 160px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.botao:hover {
    background-color: #5acd0e;
}


/*inicio da responsividade*/

@media screen and (min-width: 430px) and (max-width: 479px){
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 99%;
        padding: 8px;
        margin-right: 15px;
    }


    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 4px 5px 4px;
        padding: 2px;
        width: 24px;
        font-size: 12px;
        border: #4b207f 1px solid;
        box-shadow: 2px 2px 2px #4b207f;
    }

    .valorAposta {
        padding: 8px;
        width: 120px;
        border: solid 2px rgb(32, 154, 10);
        font-size: 12px;
    }

    .botao {
        background-color: darkgreen;
        width: 60px;
        padding: 8px;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-right: 4px;
    }
        
    .retornoFinal1 {
        width: 150px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .retornoFinal1 > p {
        font-size: 12px;
    }
}

@media screen and (min-width: 480px) and (max-width: 651px) {
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 99%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 4px 5px 4px;
        padding: 2px;
        width: 26px;
        font-size: 14px;
    }

    .valorAposta {
        padding: 8px;
        width: 140px;
        font-size: 12px;
    }

    .botao {
        background-color: darkgreen;
        width: 80px;
        padding: 8px;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-right: 4px;
    }
        
    .retornoFinal1 {
        width: 150px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .retornoFinal1 > p {
        font-size: 14px;
    }
    
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 99%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 6px 5px 6px;
        padding: 2px;
        width: 36px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 200px;
    }

    .botao {
        background-color: darkgreen;
        width: 100px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 170px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 751px) and (max-width: 899px) {
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 97%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 6px 5px 6px;
        padding: 2px;
        width: 36px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 220px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .barraSuperior {
        width: 100%;
        height: 45px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 80%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 10px 5px 10px;
        padding: 2px;
        width: 36px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 220px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }

}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 70%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 9px 5px 9px;
        padding: 3px;
        width: 40px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 220px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px)  {
    
    .barraSuperior {
        width: 100%;
        height: 50px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 65%;
        border: 3px solid #B8000C;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 6px 5px 6px;
        padding: 3px;
        width: 36px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 200px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }
    
}

@media screen and (min-width: 1351px) and (max-width: 1500px) {

    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 65%;
        border: 3px solid #B8000C;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 12px 5px 12px;
        padding: 3px;
        width: 36px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 200px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1700px) {
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 55%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 12px 5px 12px;
        padding: 3px;
        width: 40px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 220px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }

}

@media screen and (min-width: 1701px) and (max-width: 1900px) {
    .barraSuperior {
        width: 100%;
        height: 60px;
        padding: 0px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .barraSuperior > h2 {
        font-size: 12px;
        color: aliceblue;
    }

    .boasVindas {
        width: 50%;
    }

    .boasVindas > h1 {
        font-size: 18px;
    }

    .filho1 {
        width: 55%;
        padding: 8px;
        margin-right: 15px;
    }

    .linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
        margin: 15px 12px 5px 12px;
        padding: 3px;
        width: 40px;
        font-size: 16px;
    }

    .valorAposta {
        padding: 10px;
        width: 220px;
    }

    .botao {
        background-color: darkgreen;
        width: 130px;
        padding: 8px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
        
    .retornoFinal1 {
        width: 190px;
        background-color: #29292a;
        border-radius: 8px;
        border: 3px rgb(21, 138, 1) dashed;
        background-color: rgb(252, 254, 255);
        margin-bottom: 10px;
        margin-left: 30px;
    }

}

#teste {
    color: aliceblue;
}

#teste1 {
    color:aliceblue;
}